:root {
  // COLOR PALETTE
  --white: #FFFFFF;
  --black: #000000;
  --gray: #C6C6C6;
  --darkGray: #999CAE;
  --veryDarkGray: #5C5C5C;
  --lightGray: #EEEEEE;
  --veryLightGray: #F2F2F2;

  --lightLavender: #BBC4F5;
  --lavender: #8E9DEF;
  --darkLavender: #6176E9;
  --turquoise: #6BCBE3;
  --darkTurquoise: #40BCDB;
  --pink: #D842AB;

  // APPS
  --purple: #E0B1E9; // Messenger
  --azure: #A3E6FF; // Telegram
  --darkGreen: #79E5BC; // WhatsApp
  --lightGreen: #A6EDD2; // Phone

  // SCROLLBAR
  --scrl-1: rgba(203, 203, 203, 0.6);
  --scrl-2: rgba(9, 30, 66, 0.08);
  --scrl-3: rgb(203, 203, 203);
}
